* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
}
.column {
    float: left;
    /*padding: 10px;*/
    height: 100vh; /* Should be removed. Only for demonstration */
}
.left {
    width: 20%;
    padding: 16px;
    background-color: #B2EBF2;
}
.left h2 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #0277BD;
    font-size: 16px;
    margin: 0 0 32px 0;
}

nav {
    width: 4%;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    color: #E0E0E0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
nav:hover {
    cursor: pointer;
    opacity: 1;
}
.middle {
    width: 36%;
    padding: 32px 16px 32px 0;
}
.right {
    width: 36%;
    padding: 32px 0 32px 16px;
} 
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.day-row {
    width: 100%;
    border-top: 1px dotted #ECEFF1;
    border-bottom:none;
    font-family: 'Comfortaa', cursive;
}
.day-row .weekday {
    width: 28px;
    opacity: 0.5;
    font-size: 10px;
    height: 100%;
    padding-left: 4px;
    display: inline-flex;
    align-items: center;

}
.day-row .day {
    width: 32px;
    height: 100%;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.day-row .month {
    width: 115px;
    height: 100%;
    font-size: 14px;
    opacity: 1;
    padding-right: 4px;
    color: #0D47A1;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
}
.txt-m {
    font-size: 14px;
}
.txt-s {
    font-size: 12px;
}

.past-day {
    opacity: 0.2;
}

.weekend {
    background-color: #F0F4C3;
}

.last-month-day {
    /*border-bottom-right-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    border-bottom: 1px dashed #e7e7e7;
    /*margin-bottom: 8px;*/
}

.first-month-day {
    border-top: none;
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}


#clock {
    height: 70px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 32px 0;
    color: #263238;
}
#clock .seconds {
    font-size: 24px;
    padding-left: 8px;
    color: #455A64
}