/* Name */

.c-name {
}

.c-name__text {
    font-family: var(--font-main);
    font-weight: 400;
    text-align: center;
    display: block;
    color: var(--color-on-background);
    margin: auto;
    margin: 16px 0 8px 0;
    font-size: 24px;
}
.c-name input[name="name"] {
    display: block;
    font-family: var(--font-main);
    text-align: center;
    font-size: 28px;
    color: var(--color-on-background);
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 8px;
    height: 40px;
    width: 100%;
    margin: 16px auto;
    max-width: 450px;
}
.c-name input[name="name"]:focus {
    border: none;
    border-bottom: 1.2px solid rgb(83, 83, 83);
    background: none;
    outline: none;  
}

/* Clock */

.c-clock {
    /*height: 72px;*/
    margin: 0 auto 50px auto;
    width: 100%;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 78px;
    text-shadow: rgb(218, 218, 218) 1px 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--color-on-background);
}
.c-clock .c-clock__seconds {
    display: none;
    font-size: 24px;
    padding-left: 8px;
    color: var(--color-on-background)
}

/* Sunhours */
.c-sun-hours {
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.sun-hours__hours {
    width: 100%;
    height: 45px;
    position: relative;
}

.sun-hours__hours__hour {
    display: inline-block;
    position: absolute;
    font-family: var(--font-main);
    color: var(--color-on-background);
    font-size: 13px;
    text-align: center;
    float: left;
    width: 50px;
    height: 40px;
    margin-left: -25px;
}
.sun-hours__hours__hour .icon{
    margin-bottom: 4px;
    opacity: 0.6;
    color: var(--color-on-background);
}

.sun-hours__night-bar {
    height: 25px;
    background-color: var(--color-dark);
    width: 100%;
    position: relative;
    border-radius: 15px;
    margin: auto;
}
.sun-hours__night-bar__now-bar {
    height: 100%;
    padding: 4px;
    top: 0;
    display: inline-block;
    position: absolute;
    float: left;
    border-radius: 15px;
    z-index: 2;
}
.sun-hours__night-bar__now-bar__fill {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.2;
    background-color: #ffffff;

}
.sun-hours__night-bar__day-bar {
    height: 100%;
    display: inline-block;
    position: absolute;
    float: left;
    background-color: var(--color-primary);
}
.sun-hours__container-lines {
    height: 10px;
    margin-bottom: 4px;
    width: 100%;
    position: relative;
    margin: auto;
}
.sun-hours__container-lines__lines {
    height: 100%;
    display: inline-block;
    position: absolute;
    float: left;
    border-right: 1px var(--color-on-background) dotted;
    border-left: 1px var(--color-on-background) dotted;
}
/*
.c-sun-hours .sunhours-container-lines .now-line {
    height: 50%;
    
    width: 1px;
    display: inline-block;
    
    
    border-right: 2px #051d27 solid;
    position: absolute;
    float: left;
    bottom: 0;
    width: 0; 
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 8px solid #051d27;
}
*/
.moon-icon {
    padding: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.moon-icon__moon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-shadow: inset calc(var(--moon-i)*16px) 0 var(--color-on-background);
}
.sun-hours__info {
    font-family: var(--font-secondary);
    color: var(--color-on-background);
    font-size: 18px;
    text-align: center;
    padding: 16px 0;
}