
.l-welcome {
    padding: 5%;
}
.l-next-weeks {
    position: relative;
}
.l-next-weeks header {
    position: absolute;
    width: 100%;
    top:0;
    padding: 32px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-main);
}
.l-next-weeks header .l-next-weeks__title {
    font-size: 26px;
    color: var(--color-on-background);
}
.l-next-weeks header .l-next-weeks__next-holiday {
    position: relative;
    color: var(--color-on-background);
    font-size: 16px;
}
.l-next-weeks header .l-next-weeks__next-holiday .l-next-weeks__next-holiday__days {
    font-size: 18px;
    color: var(--color-primary);
}
.l-next-weeks header .l-next-weeks__title .l-next-weeks__title--color {
    color: var(--color-primary);
}

.l-next-weeks .l-next-weeks__column {
    float: left;
    /*padding: 10px;*/
    height: 100vh; /* Should be removed. Only for demonstration */
}
.l-next-weeks .l-next-weeks__column-1 {
    width: 30%;
    padding: 94px 32px 64px 0;
}
.l-next-weeks .l-next-weeks__column-2 {
    width: 30%;
    padding: 94px 32px 64px 0;
}
.l-next-weeks .l-next-weeks__column-3 {
    width: 30%;
    padding: 94px 0 64px 0;
} 

.l-next-weeks nav {
    width: 5%;
    padding: 0;
    font-family: var(--font-main);
    font-size: 40px;
    color: #E0E0E0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.l-next-weeks nav:hover {
    cursor: pointer;
    opacity: 1;
}

/* Clear floats after the columns */
.l-next-weeks .row:after {
    content: "";
    display: table;
    clear: both;
}

.l-next-weeks .l-next-weeks__day-row {
    width: 100%;
    border-top: 1px dotted var(--color-surface);
    border-bottom:none;
    padding: 0 4px 0 8px;
    font-family: var(--font-main);
}
.l-next-weeks__day-row__weekday {
    width: 10px;
    color: var(--color-on-background);
    opacity: 0.5;
    font-size: 8px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.l-next-weeks__day-row__day {
    width: 32px;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-on-background);
    opacity: 0.7;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.l-next-weeks__day-row__content {
    height: 100%;
    padding: 2px 0;
    float: left;
}
.l-next-weeks__day-row__content .description {
    cursor: pointer;
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    height: 100%;
    font-size: 10px;
    color: white;
    font-family: var(--font-secondary);
    background-color: var(--color-secondary);
    border-radius: 4px;
    float: left;
}
.l-next-weeks__day-row__month {
    width: 80px;
    height: 100%;
    font-size: 10px;
    opacity: 1;
    color: var(--color-dark);
    font-weight: bold;
    font-family: var(--font-main);
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

.l-next-weeks__day-row--past-day {
    opacity: 0.1;
}

.l-next-weeks__day-row--holiday {
    background-color: var(--color-surface);
}

.l-next-weeks__day-row--last-month-day {
    /*border-bottom-right-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom: 1px dashed var(--color-on-background);*/
    /*margin-bottom: 8px;*/
}

.l-next-weeks__day-row--first-month-day {
    border-top: none;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0.2) 0%, rgba(255,255,255,0) 85%);
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
}
