:root {
    --background-image: url('');
    --font-main: 'Comfortaa', cursive;
    --color-1: "";
    --color-2: #d6f79a;
    --moon-i: 5;
}


* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    background-image: var(--background-image);
    background-size: cover;
    overflow: hidden;
}
.main {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
footer {
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 16px 0;
    text-align: center;
}
footer #cont-space{
    display: inline-block;
    font-family: var(--font-main);
    font-size: 12px;
    opacity: 0;
}
footer #cont-space .space{
    text-transform: uppercase;
    padding: 5px 8px;
    margin: 0 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: honeydew;
    box-shadow: 0 2px rgb(80, 80, 80);
    display: inline-block;
}

.blink {
    animation: blink 1.5s linear infinite;
}
@keyframes blink {
    0% { opacity: 0; }
    45% { opacity: 1; }
    55% { opacity: 1; }
    100% { opacity: 0;}
}


.cont-settings{
    position: absolute;
    opacity: 0.4;
    padding: 16px;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.new {
    padding: 0;
    position: absolute;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.slide-in {
    animation: slide-in 0.4s forwards;
}
.slide-out {
    animation: slide-out 0.4s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); opacity: 1;}
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); opacity: 0;}
}









.txt-m {
    font-size: 14px;
}
.txt-s {
    font-size: 12px;
}


/* ----- WIDGETS ---- */
.widget {
    margin-bottom: 32px;
}



