:root {
    --background-image: url('');
    --font-main: 'Comfortaa', cursive;
    --moon-i: 5;
}


* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    background-image: var(--background-image);
    background-size: cover;
    overflow: hidden;
}
.main {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.new {
    padding: 0;
    position: absolute;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    opacity: 0;
}
.slide-in {
    animation: slide-in 0.4s forwards;
}
.slide-out {
    animation: slide-out 0.4s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); opacity: 1;}
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); opacity: 0;}
}









.txt-m {
    font-size: 14px;
}
.txt-s {
    font-size: 12px;
}


/* ----- WIDGETS ---- */
.widget {
    margin-bottom: 32px;
}



