
footer {
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 16px;
  text-align: center;
}

.main {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.welcome {
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}