.l-life-blocks {
  padding: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-life-blocks .l-life-blocks__title {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
}
.l-life-blocks .l-life-blocks__subtitle {
  font-size: 18px;
  margin-bottom: 28px;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
}

.l-life-blocks .l-life-blocks__footer{
  margin-top: 28px;
}

.l-life-blocks .l-life-blocks__footer a{
  font-size: 14px;
  margin-top: 28px;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-decoration: none;
}

.l-life-blocks .l-life-blocks__block-cont {
  width: 90%;
  height: calc(100% - 28px - 16px);
  position: relative;
}
.l-life-blocks .l-life-blocks__block-cont:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.l-life-blocks .l-life-blocks__block-container {
  display: grid;
  grid-template-columns: repeat(104, auto);
  grid-template-rows: repeat(45, auto);
  column-gap: 0.2%;
  row-gap: 0.5%;
  height: 100%;
  width: 100%;
}

.l-life-blocks .l-life-blocks__block-container .l-life-blocks__block {
  background-color: var(--color-surface);
  border-radius: 2px;
  font-size: 10px;
  padding:0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  overflow: visible;
  position: relative;
}
.l-life-blocks__block--past {
  transform: scale(0.9);
  opacity: 0.4;
}

.l-life-blocks__block__hour {
  width: 100%;
  text-align: center;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
  font-size: 10px;
  position: absolute;
}

.l-life-blocks__block__hour--left {
  transform: translateX(-200%);
}

.l-life-blocks__block__hour--right {
  transform: translateX(200%);
}