#months-columns {
  color: white;
  display: flex;
  font-size: 40px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.months-columns-title {
  width: 300px;
  margin-top:30px;
  margin-bottom: 10px;
}

.my-color {
  color: green;
}

.month-title {
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
  padding-bottom: 8px;
  font-size: 16px;
  height: 25px;
  box-sizing: border-box;
}

.months-container {
  margin: 0 auto 5% auto;
  width: 90%;
  max-width: 1400px;
  height: 100%;
  position: relative;
  display: grid;
}

.month-column {
  display: inline-block;
  height: 100%;
  margin:auto 8px;
  border-radius: 8px;
  text-align: center;
  font-family: var(--font-main);
  padding: 0;
  font-size: 16px;
  color: var(--color-on-surface);

  min-width: 0;
}

.day-container {
  height: calc(100% - 25px);
}

.month-day {
  text-align:left;
  padding: 0 8px;
  background-color: var(--color-surface);
  opacity: 0.4;
  display: flex;
  justify-items: center;
  align-content: flex-start;
  align-items: center;
  min-height: 20px;
  height: 3.22%;
  font-size: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.month-day__wd {
  display: inline-flex;
  width: 18px;
  justify-items: center;
  align-items: center;
  align-content: center;
  font-size: 10px;

}

.month-day__wn {
  display: inline-flex;
  width: 25px;
  font-size: 14px;
  justify-items: center;
  align-items: center;
  align-content: center;

}


.month-day--first {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.month-day--weekend {
  opacity: 0.8;
}
.month-day--past {
  opacity: 0.1;
}


.month-day--last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title, .footer {
  text-align: center;
  font-family: var(--font-main);
}

.title {
  margin-bottom: 20px;
}

.footer p {
  margin: 16px 16px;
  font-size: 24px;
}


