#ten-minutes-blocks {
  padding: 0;
  display: flex;
  font-size: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.l-day-blocks {
  padding: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-day-blocks .l-day-blocks__title {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
}
.l-day-blocks .l-day-blocks__subtitle {
  font-size: 18px;
  margin-bottom: 28px;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
}
.l-day-blocks .l-day-blocks__footer {
  font-size: 14px;
  margin-top: 28px;
  font-family: var(--font-main);
  color: var(--color-on-background);
}

.l-day-blocks .l-day-blocks__block-cont {
  width: 33%;
  position: relative;
}
.l-day-blocks .l-day-blocks__block-cont:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.l-day-blocks .l-day-blocks__block-container {
  display: grid;
  grid-template-columns: repeat(12, 7.233%);
  grid-template-rows: repeat(12, 7.233%);
  column-gap: 1.2%;
  row-gap: 1.2%;
  height: 100%;
  width: 100%;
}

.l-day-blocks .l-day-blocks__block-container .l-day-blocks__block {
  background-color: var(--color-on-background);
  box-shadow: var(--color-on-background-shadow) 1px 1px 2px;
  border-radius: 8px;
  font-size: 10px;
  padding:0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  overflow: visible;
  position: relative;
}
.past {
  transform: scale(0.9);
  overflow: hidden;
  position: relative;
}

.past:before, .past:after {
  position: absolute;
  content: '';
  background: black;
  opacity: 0.2;
  display: block;
  width: 100%;
  height: 5%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.past:after {
  -webkit-transform: rotate(45deg);    
  transform: rotate(45deg);
}

.night {
  opacity: 0.6;
}

.hour {
  width: 100%;
  text-align: center;
  font-family: var(--font-main);
  color: var(--color-on-background);
  text-shadow: var(--color-on-background-shadow) 1px 1px 2px;
  font-size: 12px;
  position: absolute;
}

.hour-left {
  transform: translateX(-100%);
}

.hour-right {
  transform: translateX(100%);
}