#welcome {
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome--add-timer-cursor {
  cursor: var(--cursor-timer-add);
}
.welcome--clock-light {
  opacity: 0.2;
}

.clock:hover {
  /* cursor: url('../timer-white-24dp.svg'), auto; */
  cursor: var(--cursor-timer);
  opacity: 0.2;
}
.clock:active {
  cursor: var(--cursor-timer-add);
}
.timer:hover {
  cursor: var(--cursor-timer-remove);
  opacity: 0.4;
}

#timer-tooltip {
  border-radius: 5px;
  box-shadow: ;
  display: none;
  position: absolute;
  text-align: center;
  font-family: var(--font-main);
  font-size: 40px;
  height: 35px;
  /*width: 60px;*/
  align-items: center;
  justify-content: center;

  text-shadow: var(--color-on-background-shadow) 1px 1px 4px;
  color: var(--color-on-background);
}

.timer-bubble {
  position: absolute;
  top:0%;
  left: 0%;
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  font-size: 18px;
  font-family: var(--font-main);
}
.timer-bubble span {
  font-size: 10px;
  opacity: 0.6;
}
