#year-progress {
  padding: 0;
  display: flex;
  font-size: 80px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.year-container {
  margin: 10px auto;
  width: 70%;
  height: 200px;
  opacity: 0.5;
  position: relative;
}

.year-container_seasons-logos {
  height: 30px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.year-container_seasons-logos .year-container__seasons-logo {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  margin-left: -20px;
  position: absolute;
  color: var(--color-surface);
}

.seasons-logo-1 {
  left: 21.9%;
}

.seasons-logo-2 {
  left: 47.1%;
}

.seasons-logo-3 {
  left: 72.9%;
}

.seasons-logo-4 {
  left: 97.4%;
}


.year-container__seasons-lines {
  height: 15px;
  display: flex;
  flex-direction: row;
}

.year-container__seasons-lines .year-container__seasons-line{
  height: 100%;
  border-right: 1px dotted var(--color-surface);
}

.year-container__seasons-lines .seasons-line-1 {
  width: 21.9%;
}

.year-container__seasons-lines .seasons-line-2 {
  width: 25.2%;
}
.year-container__seasons-lines .seasons-line-3 {
  width: 25.8%;
}
.year-container__seasons-lines .seasons-line-4 {
  width: 24.5%;
}

.year-container__bar {
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
}

.year-container__year {
  position: absolute;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
  background: none;
}
.year-container__progress-bar {
  position: absolute;
  height: 100px;
  left: 0;
  width: 60%;
  border-radius: 0;
  margin: 0;
  padding:0;
  z-index: 10;
  opacity: 0.2;
  background-color: var(--color-on-surface);
}

.year-container__month {
  display: inline-flex;
  text-align: center;
  font-family: var(--font-main);
  padding: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  margin-right: 2px;
  /*border-right: 1px dashed var(--color-on-surface);*/
}

.year-container__month--first {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.year-container__month--last {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-right: none;
}

.year-container__title, .year-container__footer {
  text-align: center;
  font-family: var(--font-main);
  text-shadow: var(--color-on-background-shadow) 1px 1px 4px;
  color: var(--color-on-background);
}

.year-container__title {
  margin-bottom: 20px;
}

.year-container__footer p {
  margin: 16px 16px;
  font-size: 40px;
}


