#year-progress {
  padding: 0;
  color: white;
  display: flex;
  font-size: 40px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.year-container {
  margin: 10px auto;
  width: 70%;
  height: 100px;
  border-radius: 50px;
  background-color: white;
  opacity: 0.5;
  position: relative;
}

.year {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, auto);
}
.progress-bar {
  position: absolute;
  left: 0;
  width: 60%;
  height: 5px;
  border-radius: 2.5px;
  margin: 47.5px 0;
  padding:0;
  background-color: black;
}

.month {
  display: inline-block;
  text-align: center;
  font-family: var(--font-main);
  margin: 15% 0;
  padding-top: 10%;
  font-size: 16px;
  color: black;
  border-right: 1px solid gray;
}

.first {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.last {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-right: none;
}

.title, .footer {
  text-align: center;
  font-family: var(--font-main);
}

.title {
  margin-bottom: 20px;
}

.footer p {
  margin: 16px 16px;
  font-size: 24px;
}


